/* === Wellen (unverändert) === */
.waves {
  position: relative;
  width: 100%;
  height: 13vh;
  margin-bottom: -7px; /* Fix for Safari gap */
  min-height: 100px;
  max-height: 150px;
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/* === Wrapper === */
.wave-wrapper {
  position: relative;
}

.wave-container {
  position: relative;
}

/* === Boot === */
.boat {
  position: absolute;
  left: -10%; /* startet links außerhalb */
  bottom: -20px; /* noch tiefer auf den Wellen */
  font-size: 180px; /* Desktop: noch größer */
  animation: boat-horizontal 30s linear infinite, boat-vertical 3s ease-in-out infinite;
  pointer-events: none;
  z-index: 5;
}

/* Horizontal: Boot fährt von links nach rechts */
@keyframes boat-horizontal {
  0% {
    left: -10%;
  }
  100% {
    left: 110%;
  }
}

/* Vertikal: Boot „schaukelt“ wie die Welle, proportional zur Größe */
@keyframes boat-vertical {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-10px) rotate(-2deg);
  }
  50% {
    transform: translateY(-18px) rotate(2deg);
  }
  75% {
    transform: translateY(-10px) rotate(-1deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

/* Mobile */
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  .boat {
    font-size: 100px; /* mobile passt */
    bottom: -20px; /* mobile auch tiefer */
  }
}










/* NEUES DESIGN

HTML: 
	<body>

		<section class="main">

			<div class="absolute boat">
				<ul class="no-bullet">
					<ul class="no-bullet fume">
						<li class="fume4"></li>
						<li class="fume3"></li>
						<li class="fume2"></li>
						<li class="fume1"></li>
					</ul>
					<li class="smokestack"></li>
					<li class="white-body">
						<ul class="windows inline-list">
							<li class="circle"></li>
							<li class="circle"></li>
							<li class="circle"></li>
						</ul>
					</li>
					<li class="boat-body"></li>
				</ul>
			</div>

			
		</section>

	</body>


  CSS:
  * {margin: 0; padding: 0}



*, *:before, *:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

section {
    width: 100%;
    overflow: hidden;
    position: absolute;
}

ul {  margin-bottom: 1.25rem;
}

ul.no-bullet {
list-style: none;
}

.inline-list {
  margin: 0 auto 1.0625rem auto;
  margin-left: -1.375rem;
  margin-right: 0;
  padding: 0;
  list-style: none;
  overflow: hidden; }
  .inline-list > li {
    list-style: none;
    float: left;
    margin-left: 1.375rem;
    display: block; }
    .inline-list > li > * {
      display: block; }


.main {
    background-color: #0c3545;
    height: 100%;
}

.absolute {
    position: absolute;
}


.boat {
    bottom: 10px;
    z-index: 1;
    -webkit-animation: boatanimate 30s linear infinite;
    -moz-animation: boatanimate 30s linear infinite;
    -o-animation: boatanimate 30s linear infinite;
    animation: boatanimate 30s linear infinite;
}

@-webkit-keyframes boatanimate {
    0% {right:250px;}
    100% {right:1040px;}
}

@-moz-keyframes boatanimate {
    0% {right:250px;}
    100% {right:1040px;}
}

@-o-keyframes boatanimate {
    0% {right:250px;}
    100% {right:1040px;}
}

@keyframes boatanimate {
    0% {right:250px;}
    100% {right:1040px;}
}

.boat-body {
    width: 100px;
    height: 20px;
    background: #e25c45;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 20px;
}

.white-body {
    width: 65px;
    height: 16px;
    background: #FFF;
    margin: 0px 13px;
    border-top-left-radius: 20px;
}

.windows {
    margin: 0px 12px !important;
}


.boat .circle {
    background: #a18e6e;
    width: 7px;
    height: 7px;
    margin: 5px 3px;
    border-radius: 50%;
}

.smokestack {
    width: 10px;
    height: 17px;
    background: #a18e6e;
    bottom: 30px;
    margin-left: 45px;
}


.fume {
    margin:0px;
}

.fume li {
    background-color: white;
    border-radius: 50%;
}

.fume1 {
    width: 7px;
    height: 7px;
    margin-left: 48px;
    -webkit-animation: smokeup 2.0s linear infinite;
    -moz-animation: smokeup 2.0s linear infinite;
    -o-animation: smokeup 2.0s linear infinite;
    animation: smokeup 2.0s linear infinite;
}

.fume2 {
    width: 9px;
    height: 9px;
    margin-left: 38px;
    -webkit-animation: smokeup 2.1s linear infinite;
    -moz-animation: smokeup 2.1s linear infinite;
    -o-animation: smokeup 2.1s linear infinite;
    animation: smokeup 2.1s linear infinite;}

.fume3 {
    width: 12px;
    height: 12px;
    margin-left: 48px;
    -webkit-animation: smokeup 2.2s linear infinite;
    -moz-animation: smokeup 2.2s linear infinite;
    -o-animation: smokeup 2.2s linear infinite;
    animation: smokeup 2.2s linear infinite;}

.fume4 {
    width: 15px;
    height: 15px;
    margin-left: 38px;
    -webkit-animation: smokeup 2.3s linear infinite;
    -moz-animation: smokeup 2.3s linear infinite;
    -o-animation: smokeup 2.3s linear infinite;
    animation: smokeup 2.3s linear infinite;}

@-webkit-keyframes smokeup {
    0% {margin-bottom:-3px; opacity: 1}
    80% {margin-bottom:7px; opacity: 0}
    100% {margin-bottom:7px; opacity: 0}
}

@-moz-keyframes smokeup {
    0% {margin-bottom:-3px; opacity: 1}
    80% {margin-bottom:7px; opacity: 0}
    100% {margin-bottom:7px; opacity: 0}
}

@-o-keyframes smokeup {
    0% {margin-bottom:-3px; opacity: 1}
    80% {margin-bottom:7px; opacity: 0}
    100% {margin-bottom:7px; opacity: 0}
}

@keyframes smokeup {
    0% {margin-bottom:-3px; opacity: 1}
    80% {margin-bottom:7px; opacity: 0}
    100% {margin-bottom:7px; opacity: 0}
}
*/
