{% load static i18n compress%}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}YooLink{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Protfolio Page for YooLink">
    <meta name="author" content="Sebastian">

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}
    {% compress css %}
    <!--<link href="{% static 'css/project.css' %}" rel="stylesheet">-->
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    {% endcompress %}
    {% endblock %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Bootstrap JS -->
      <!--<script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js" integrity="sha512-OvBgP9A2JBgiRad/mM36mkzXSXaJE9BEIENnVEmeZdITvwT09xnxLtT4twkCa8m/loMbPHsvPl0T8lRGVBwjlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
      <!-- Your stuff: Third-party javascript libraries go here -->

      <!-- place project specific Javascript in this file -->
      {% compress js %}
      <!--<script defer src="{% static 'js/project.js' %}"></script>-->
      {% endcompress %}

    {% endblock javascript %}

  </head>

  <body class="bg-white">


    {% block content %}

    {% endblock %}


    <!--Footer-->
      <footer class="bg-blue-900 shadow-2xl">
        <div>
          <div class="max-w-2xl mx-auto text-white py-10">
            <div class="text-center">
              <h3 class="sm:text-3xl mb-1 text-white">
                Kontaktieren sie uns noch heute!
              </h3>
              <p>Ihr Team von YooLink</p>
            </div>
            <div
              class="mt-25 flex flex-col md:justify-between items-center text-xs md:text-sm text-black"
            >
              <p class="order-2 md:order-1 mt-7 text-white">
                &copy; YooLink - Sebastian Rauch, 2023.
              </p>
              <div class="order-1 md:order-2 text-white mt-5">
                <span class="px-2"><a href="#kontakt">Kontakt</a></span>
                <span class="px-2 border-l"
                  ><a href="./impressum.html">Impressum</a></span
                >
                <span class="px-2 border-l"
                  ><a href="./datenschutz.html">Datenschutz</a></span
                >
                <span class="px-2 border-l"
                  ><a href="./cookies.html">Cookies</a></span
                >
              </div>
            </div>
          </div>
        </div>
      </footer>

  </body>
</html>
