{% extends "base.html" %} {% load compress static %}

{% block title %}{{block.super}} | Impressum{% endblock title %}

{% block content %}
<div class="container pt-10 pb-16 w-full mx-auto px-2 md:px-40">
  <div>
    <h1 class="mb-6 text-3xl font-bold leading-none tracking-tight text-center text-gray-900 sm:text-5xl xl:text-6xl">Impressum</h1>
  </div>

  <div class="mt-8">
    <h2 class="mb-3 text-xl font-bold tracking-tight text-gray-900 md:text-2xl">YooLink</h2>
    <p>Angaben gemäß § 5 TMG</p>
    <p>Inhaber: <b>Sebastian Rauch</b></p>
  </div>

  <div class="mt-6">
    <h2 class="mb-3 text-xl font-bold tracking-tight text-gray-900 md:text-2xl">Anschrift</h2>
    <p>Schanzenweg 53</p>
    <p>94469 Deggendorf</p>
    <p>Deutschland</p>
  </div>

  <div class="mt-6">
    <h2 class="mb-3 text-xl font-bold tracking-tight text-gray-900 md:text-2xl">Kontakt</h2>
    <p>Telefon: <a href="tel:+491705977862" class="hover:underline">+49 170 5977862</a></p>
    <p>E-Mail: <a href="mailto:info@yoolink.de" class="hover:underline">info@yoolink.de</a></p>
  </div>

  <div class="mt-6">
    <h2 class="mb-3 text-xl font-bold tracking-tight text-gray-900 md:text-2xl">Verantwortlich für den Inhalt nach § 18 Abs. 2 MStV</h2>
    <p>Sebastian Rauch</p>
    <p>Anschrift wie oben</p>
  </div>

  <div class="mt-6">
    <h2 class="mb-3 text-xl font-bold tracking-tight text-gray-900 md:text-2xl">Haftungshinweis</h2>
    <p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>
  </div>

  <div class="mt-6 mb-8">
    <h2 class="mb-3 text-xl font-bold tracking-tight text-gray-900 md:text-2xl">Copyright</h2>
    <p>© YooLink – Sebastian Rauch. Alle Rechte vorbehalten.</p>
    <p>Text, Bilder, Grafiken und Videos unterliegen dem Schutz des Urheberrechts. Der Inhalt dieser Website darf nicht zu kommerziellen Zwecken kopiert, verbreitet oder verändert werden.</p>
  </div>

  <div class="mt-6">
    <h2 class="mb-3 text-xl font-bold tracking-tight text-gray-900 md:text-2xl">Steuerliche Angaben</h2>
    <p>Gemäß § 19 UStG wird keine Umsatzsteuer berechnet.</p>
  </div>
</div>
  {%endblock content%}