{% extends "base.html" %}
{% load compress static %}
{% block content %}


<div class="container my-12 mx-auto px-4 md:px-12">
  <div class="flex flex-wrap -mx-1 lg:-mx-4">
    

    <!--Diesen Column part kopieren und bei einem neuen Template kopieren-->
    <!-- Column -->
    <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
      <!-- Article -->
      <article class="overflow-hidden rounded-lg shadow-lg hover:shadow-2xl">
        <a href="#">
          <img alt="Placeholder" class="block h-auto w-full" src="{% static 'images/Template1.png' %}">
        </a>

        <div class="flex items-center justify-between leading-tight p-2 md:p-4">
          <div class="text-lg">
            <a class="no-underline hover:underline text-black" href="#">
              Name des Templates
            </a>
          </div>
          <p class="text-grey-darker text-sm">
            11/1/19
          </p>
        </div>

        <div class="flex items-center justify-between leading-none p-2 md:p-4">
          <a class="flex items-center no-underline hover:underline text-black" href="#">
            <img alt="Placeholder" class="block rounded-full" src="https://picsum.photos/32/32/?random">
            <p class="ml-2 text-sm">
              Author Name
            </p>
          </a>
          <a class="no-underline text-grey-darker hover:text-red-dark" href="#">
            <span class="">Like</span>
            <i class="fa fa-heart"></i>
          </a>
        </div>
      </article>
      <!-- END Article -->
    </div>
    <!-- END Column -->

    
    






  </div>
</div>


{% endblock content %}