{% extends 'cmsbase.html' %}
{% load compress static %}
{% block title %} {{block.super}} | CMS | Fotos{% endblock %}

{% block content %}

<div class="container mx-auto mt-8">
    <div class="flex justify-between">
        <h1 class="text-2xl ">CMS - Bilderübersicht</h1>
        <a href="{% url 'cms:upload' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          Bilder hochladen
        </a>
      </div>
    <div class="grid grid-cols-4 gap-4 mt-8">
        {% csrf_token %}
        {% for file in files %}
        <div class="relative">
            <a href="{{file.file.url}}"><img src="{{file.file.url}}" alt="Image" class="h-64 w-full border rounded-lg shadow-lg"></a>
            <span class="bg-red-700 text-white rounded-full p-2 absolute top-0 right-0 hover:cursor-pointer deleter"
                id="{{file.id}}">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                  </svg>
            </span>
            <h1>Role: None</h1>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    var csrftoken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

    $('.deleter').each(function () {
        // Klick-Handler für das aktuelle Element definieren
        $(this).on('click', function () {
            var elem = $(this)
            // Hier können Sie den Klick-Handler-Code für jedes Element schreiben
            $.ajax({
                url: 'delete/' + $(this).attr('id') + '/',
                method: 'POST',  // Methode auf "POST" setzen
                data: {
                    // Daten, die an den Server gesendet werden sollen
                    csrfmiddlewaretoken: csrftoken,
                },
                success: function (response) {
                    // Funktion, die ausgeführt wird, wenn die Anfrage erfolgreich ist
                    console.log(response);
                    sendNotif("Das ausgewählte Bild wurde erfolgreich gelöscht", "success")
                    elem.closest('.relative').remove();
                },
                error: function (error) {
                    // Funktion, die ausgeführt wird, wenn ein Fehler auftritt
                    console.log(error);
                    sendNotif("Beim Löschen des Bildes ist etwas schief gelaufen", "error")
                }
            });
        });
    })

</script>

{% endblock %}