{% extends "cmsbase.html" %}
{% load compress static %}
{% block title %} {{block.super}} | CMS - Shop{% endblock %}

{% block content %}

<div class="mt-4 grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 sm:gap-6">
    
    <!-- Produkte -->
    <div class="bg-blue-100 border-gray-200 rounded-2xl shadow-xl p-5 sm:p-6 text-black flex flex-col">
        <h2 class="text-xl sm:text-2xl font-bold mb-4 flex justify-between">Produkte <i class="bi bi-shop"></i></h2>
        <p class="mb-4">Hier kannst du deine Produkte verwalten</p>
        <p class="mb-4">Produkte: <strong>{{product_count}}</strong></p>
        <div class="flex-grow"></div>
        <div class="flex justify-center items-center mt-4">
            <a href="{% url 'cms:products' %}"
                class="w-full rounded bg-blue-500 px-4 py-3 text-center font-bold text-white hover:bg-blue-700 sm:w-auto sm:py-2">Verwalten</a>
            <div class="flex-grow"></div>
            <a href="{% url 'cms:product-create' %}"
                class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded self-end">Erstellen</a>
        </div>
    </div>
    <!-- Aufträge -->
    <div class="bg-blue-100 border-gray-200 rounded-2xl shadow-xl p-5 sm:p-6 text-black flex flex-col">
        <h2 class="text-xl sm:text-2xl font-bold mb-4 flex justify-between">Kundenaufträge <i class="bi bi-cash-coin"></i></h2>
        <p class="mb-4">Hier kannst du deine Kundenaufträge einsehen</p>
        <p class="mb-4">Aufträge: <strong>{{order_count}}</strong></p>
        <p class="mb-4">Offen: <strong>{{order_not_closed_count}}</strong></p>
        <div class="flex-grow"></div>
        <div class="flex justify-center items-center mt-4">
            <a href="{% url 'cms:order-overview' %}"
                class="w-full rounded bg-blue-500 px-4 py-3 text-center font-bold text-white hover:bg-blue-700 sm:w-auto sm:py-2">Verwalten</a>
        </div>
    </div>
    
</div>

{% endblock content %}

{% block javascriptend %}
    {% compress js %}
      <script defer src="{% static 'js/cms.js' %}"></script>
    {% endcompress js %}
{% endblock javascriptend %}
